html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

.top-h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    opacity: 0;
    transition: 2s;
    animation-timing-function: ease-in;
    animation-name: top;
    animation-duration: 10s;  
    animation-delay: 0.5s;
    position: relative;
    animation-timing-function: ease-in-out;
}

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

@keyframes top {
    0% {top: 0px;}
    25% {top: 100px;}
    50% {top: 100px;}
    75% {top: 100px;}
    100% {top: 0px;}
}

.top-p {
    color: white;
    font-size: 0px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    animation-name: top2;
    animation-duration: 10s;  
    animation-delay: 1s;
    position: relative;
    animation-timing-function: ease-in-out;
}

@keyframes top2 {
    0% {font-size: 0px;}
    25% {font-size: 45px;}
    50% {font-size: 45px;}
    75% {font-size: 45px;}
    100% {font-size: 0px;}
}

#me {
    width: 900px;
    opacity: 0;
    transition: 2s;
    animation-timing-function: ease-in;
    margin-top: 150px;
    padding-bottom: 30px;
}

nav {
    float: top;
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
}

#homebtn {
    padding-right: 3.5%;
    padding-left: 1.5%;
    width: 5%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    border-left: none;
    border-top: none;
}

#homebtn:hover {
    padding-right: 3.5%;
    padding-left: 1.5%;
    width: 5%;
    height: 50px;
    margin-left: 0%;
    background-color: rgb(193, 193, 193);
    border-bottom: none;
    border-left: none;
    border-top: none;
}

p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

a {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-size: small;
}

#page2 {
    padding-right: 4.5%;
    padding-left: 1%;
    width: 5%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    border-left: none;
    border-top: none;
}

#page2:hover {
    padding-right: 4.5%;
    padding-left: 1%;
    width: 5%;
    height: 50px;
    background-color: rgb(193, 193, 193);
    border-bottom: none;
    border-left: none;
    border-top: none;
}